<section class="mb-3 bg-dark">

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active text-light" href="/posts/add">Добавить пост</a>
        </li>
    </ul>

</section>